<div class="container my-5 ">
  <div class="row">
    <h5 class="ml-5 mb-5 bg-light">　商品詳細　</h5>
  </div>
      <!--<#%= image_tag @item.image, size: "100×100" %>-->
  <div class="row">
    <table>
      <thead>
        <tr>
          <td class="ml-5">商品画像、商品名、商品説明、ジャンル、税込価格（税抜価格）、販売ステータスの表示</td>
        </tr>
      </thead>
    </table>
  </div>
</div>