<div class="container m-5">
  <div class="row">
    
    <div class="col-md-3">
      <div class="border-top border-left border-right border-dark">
        <p class="text-nowrap text-center px-2 mb-0">ジャンル検索</p>
      </div>
      <div class="border border-dark p-4">
        <% @genres.each do |genre| %>
          <p class="">
            <%= link_to root_path do %>
              <%= genre.name %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-7 offset-md-1 border">
      <div>
        <p class="mt-5 ml-5">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の観覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-7 offset-md-1">
      <table>
        <h4>新着商品</h4>
          <tr>
            <p>[未完]　４つ投稿入れる。４つだけ投稿を表示させる方法調べる。</p>
          </tr>
          <%= link_to "全ての商品を見る >", items_path, class:"" %>
      </table>
    </div>
  </div>
</div>