<div class="container m-5">
  <div class="row">

    <div class="col-md-4">
      <div class="genre_search">
        <table>
          <tr>
            <td class="border border-dark text-center text-nowrap px-5">ジャンル検索</td>
          </tr>
          <tr>
            <td class="border border-dark p-2">ジャンルの一覧を表示？</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="genre_search">
        <table>
          <h4>新着商品</h4><h6>全×件</h6>
          <p>ページネーション入れる</p>
        </table>
      </div>
    </div>
    
  </div>
</div>